@charset "utf-8";
/* CSS Document */
body{ padding:0px; margin:0px; color:#000000; text-decoration:none;font-size:12px; font-family:"宋体"; background:#f2f2f2}
ul{ padding:0px; margin:0px}
li{ display:inline; float:left;}
a:link{ text-decoration:none; color:#232424;}
a:visited{text-decoration:none; color:#232424;}
a:hover{text-decoration:underline; color:#f00;}
a:active{text-decoration:none; color:#232424;}
img{ border:0px}
td{ padding:0px; margin:0px}
hr,p,h2,h3,h4,h5{ margin:0px; padding:0px}
.ml3{ margin-left:3px;}
.ml6{ margin-left:6px;}
.ml20{ margin-left:20px;}
.mt5{ margin-top:5px;}
.mt15{ margin-top:15px;}
.ml7{ margin-left:7px;}
.ml15{ margin-left:15px;}
.mr5{ margin-right:5px;}
.mt25{ margin-top:25px;}
.mt3{ margin-top:3px;}
.mr10{ margin-right:10px;}
.txt_indext15{ text-indent:15px}
.txt_lnright{ text-align:right}
.mr28{ margin-right:28px;}
.bl{ border-left:1px solid #c0c0c0}

/**头部**/
.header{ width:100%;}
.navbar_inner{ background:url(top_bg.gif); height:29px; }
.navbar_top{ width:1000px; height:29px; line-height:29px; margin:0px auto}
.navbar_top span{ float:left; color:#292a2a; text-shadow: 1px 0px 0px #fff,-1px 0px 0px #fff,0px 1px 0px #fff,0px -1px 0px #fff}
.navbar_top ul{ float:right; margin-right:5px;height:29px; width:270px;}
.navbar_top ul li{ float:left; padding-left:10px;text-shadow: 1px 0px 0px #fff,-1px 0px 0px #fff,0px 1px 0px #fff,0px -1px 0px #fff}
.navbar_top a{color:#292a2a; }
.navbar_top a:hover{color:#f00;text-decoration:underline; }
.navbar_banner{ width:100%; background:url(top_bg.png) center no-repeat; height:375px;}
.i_menu_logo{ margin:0px auto; width:1000px}
.navbar_banner img{ float:right; margin-top:35px; margin-right:50px;}
/**正文**/
.container{ width:1000px; margin:0px auto; margin-top:-250px;}
.banner{ width:100%; float:left;}
.banner ul{ float:left;}
.banner ul li{ float:left; background:url(banner_out.png); width:125px; line-height:42px; text-align:center; font-family:"微软雅黑"; font-size:15px; color:#fff}
.banner ul li.on{ background:url(banner_on.png); color:#114383}
.banner ul li a{ color:#fff}
.banner ul li.on a{color:#114383}
.banner span{ float:right; font-family:"微软雅黑";font-size:14px; line-height:32px; margin-top:10px; margin-right:50px;}
.contain{ width:1000px; float:left; background:#fff; padding-top:10px; padding-bottom:15px;}
.zyjy_con{ width:950px; padding:10px 25px; float:left}
.zyjy_con h2{float:left; width:100%; background:url(zyjy_bg.gif) #f8f8f8 bottom repeat-x;padding-bottom:3px;}
.zyjy_con h2 ul{float:left;  border-right:1px solid #e5e5e5;}
.zyjy_con h2 ul li{float:left; border:1px solid #e5e5e5; line-height:33px;color:#3e3f3f; font-family:"微软雅黑"; font-size:14px; border-right:0px;}
.zyjy_con h2 ul li.hover{color:#ee5509; background:#fff }
.zyjy_con h2 ul li img{float:left; margin-left:20px; margin-top:9px;}
.zyjy_con h2 ul li span{float:left; padding-right:40px;  margin-left:5px;}
.newslist{ float:left; width:100%;}
.news_common{ width:520px; float:left; margin-left:10px;margin-top:20px}
.news_common h3{width:100%; float:left; }
.news_common h3 span{width:148px; float:left;line-height:33px; background:#48a0d4; text-align:center;font-family:"微软雅黑"; font-size:14px; color:#fff}
.news_common h3 a{ float:right;line-height:33px;font-weight:normal; color:#48a0d4; font-size:12px}
.news_common ul{ float:left; padding-top:20px; width:100%}
.news_common ul li{ float:left; text-align:right; width:100%; line-height:25px; color:#414040}
.news_common ul li a{ float:left;color:#414040}
.news_common ul li a:hover{ float:left;color:#f00}
.jrjy{ width:370px; float:left; border:1px solid #e3e3e3; margin-left:40px; border-radius:4px; margin-top:20px}
.jrjy h3{width:100%; float:left; background:#fafafa }
.jrjy h3 span{width:148px; float:left;line-height:38px;font-family:"微软雅黑"; font-size:16px; color:#225ea9; margin-left:18px;}
.jrjy h3 a{ float:right;line-height:33px;font-weight:normal; color:#48a0d4; font-size:12px; margin-right:15px;}
.jrjy ul{ float:left; padding:10px 10px; width:350px;}
.jrjy ul li{ float:left;  width:100%; line-height:25px; color:#414040}
.jrjy ul li a{ float:left;color:#414040}
.jrjy ul li a:hover{ float:left;color:#f00}
.stat{  float:left; padding:15px 0px; margin-left:25px;}


/**底部**/
.bottom{ margin:0px auto; width:1000px; background:url(bottom_bg.gif) repeat-x #efefef; padding-bottom:10px;}
.bottom p.mt20{ margin-top:20px;}
.bottom p{ width:100%; float:left; line-height:30px; text-align:center; color:#333333}
.bottom p span{ font-size:14px}